@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)), url(https://i.pinimg.com/originals/2d/0b/2a/2d0b2a937bfcf5ee109b770c0cdadd2d.jpg) no-repeat 50% 50%;
    background-size: cover;
}

header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

section {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    margin-top: -50px;
}

section:last-child {
    padding-top: 0px;
    margin-top: 0px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 99999;
}

nav a:hover {
    color: white;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    font-weight: bold;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
}

.center-text {
    position: absolute;
    text-align: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    top: 30%;
}

.center-text h1 {
    font-size: 500%;
}

.center-text h3 {
    font-size: 120%;
}
.center-text span {
    font-weight: lighter;
}

.row {
    padding-top: 50px;
}

.col {
    margin: 25px;
}

.about-info {
    display: block;
}

.container {
    margin-top: 50px;
    background: black;
    color: white;
}

.header-gray {
    color:darkgray;
}


/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skills-container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    margin-top: -3%;
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.java {width: 90%; background-color: #4CAF50;} /* Green */
.web {width: 80%; background-color: #2196F3;} /* Blue */
.sql {width: 75%; background-color: #f44336;} /* Red */
.c {width: 70%; background-color: darkgoldenrod;}
.google {width: 100%; background-color: darkviolet;}

.button-center {
    width: 180px;
    height: 60px;
    position: relative;
    margin: 5% auto;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}


@media(max-width: 786px) {

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}
