@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#wrapper {
    max-width: 960px;
    min-width: 960px;
    margin: 0 auto;
    margin-top: 30px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)), url(https://i.pinimg.com/originals/2d/0b/2a/2d0b2a937bfcf5ee109b770c0cdadd2d.jpg) no-repeat 50% 50%;
    background-size: cover;
}

header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

section {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    margin-top: -50px;
}

section:last-child {
    padding-top: 0px;
    margin-top: 0px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 99999;
}

nav a:hover {
    color: white;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    font-weight: bold;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
}

.center-text {
    position: absolute;
    text-align: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    top: 30%;
}

.center-text h1 {
    font-size: 500%;
}

.center-text h3 {
    font-size: 120%;
}
.center-text span {
    font-weight: lighter;
}

.outer {
    padding-top: 50px;
}

.col {
    margin: 25px;
}

.about-info {
    display: block;
}

.container {
    margin-top: 50px;
    background: black;
    color: white;
}


.header-gray {
    color:darkgray;
}


/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skills-container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    margin-top: -3%;
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.java {width: 90%; background-color: #4CAF50;} /* Green */
.web {width: 80%; background-color: #2196F3;} /* Blue */
.sql {width: 75%; background-color: #f44336;} /* Red */
.c {width: 70%; background-color: darkgoldenrod;}
.google {width: 100%; background-color: darkviolet;}

.button-center {
    width: 180px;
    height: 60px;
    position: relative;
    margin: 5% auto;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.sectionClass {
    padding: 80px 0px 50px 0px;
    position: relative;
    display: block;
    background: rgb(200, 200, 200);
}

.row {
    width: 980px;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.sectiontitle {
    background-position: center;
    text-align: center;
    min-height: 20px;
}

.sectiontitle h2 {
    font-size: 30px;
    color: #222;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
}

.fullWidth {
    width: 100%;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
}
/********************************/
/*  SECTION WORK EXPERIENCE
********************************/

#work-experience .sectiontitle .headerLine {
    width: 280px;
}

#work-experience .headerline {
    width: 280px;
}

.cbp_tmtimeline {
    margin: 60px 30px 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 3%;
    bottom: 0;
    width: 10px;
    background: #324454;
    left: 13%;
    height: 100%;
}

.cbp_tmtimeline li:last-child:before {
    content: initial;
}

.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: rgba(50, 68, 84, 1);
    color: #FFF;
    padding: 30px;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    font-family: 'Open Sans';
    position: relative;
    border-radius: 5px;
    min-height: 150px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #2B3A48;
}

.cbp_tmtimeline > li .cbp_tmlabel h3 {
    margin-top: 0px;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 600;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    text-align: left;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 i {
    margin-right: 5px;
    vertical-align: middle;
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(50, 68, 84, 1);
    border-width: 10px;
    top: 70px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #2B3A48;
}

.cbp_tmtimeline > li .cbp_tmicon {
    width: 150px;
    height: 150px;
    top: 3%;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #151515;
    background: #324454;
    border-radius: 50%;
    text-align: center;
    left: 8%;
    margin: 0 0 0 -25px;
}

.cbp_tmtimeline li {
    margin-bottom: 70px;
    position: relative;
}

.sectionClassProject {
    position: relative;
    display: block;
    /* background: #f7f7f7; */

    margin: 0 auto;
    padding: 80px 1.875em 3.125em;
}

.projectParagraph {
    font-size: 18px;
    margin: 0.5em 0 0;
    font-family: 'Source Sans Pro', serif;
}

.projectParagraphLink {
    font-size: 15px !important;
    font-weight: 500 !important;
    margin-top: 50px !important;
    margin-bottom: 0px;
    text-align: right;
}

.projectParagraphLink a {
    color: white;
    text-decoration: underline;
}

.cbp_tmicon img {
    width: 100%;
}

.faPra {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 70px;
    vertical-align: middle;
    color: white;
    line-height: 150px;
}

.label {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    color: #FFFFFF;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px 15px;
}

.date {
    color: #BFC3C7;
    display: block;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 30px;
    right: 20px;
}

.date i {
    margin-right: 8px;
    vertical-align: top;
    font-size: 18px;
    line-height: 20px;
}

@media (max-width: 1024px) {
    .cbp_tmtimeline:before {
        display: none;
    }
    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }
    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }
    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 30px 0 70px 0;
        padding: 50px 30px 30px 30px;
        font-weight: 400;
        font-size: 95%;
        float: left;
    }
    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        border-right-color: transparent;
        border-bottom-color: rgb(50, 68, 84);
        top: -20px;
    }
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: rgb(43, 58, 72);
        left: 65px;
    }
    .cbp_tmtimeline > li:nth-child(even) .cbp_tmlabel:after {
        right: 65px;
    }
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmicon {
        position: relative;
        float: left;
        left: auto;
        margin: 0px 5px 0 0px;
    }
    .cbp_tmtimeline > li:nth-child(even) .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: 0px 5px 0 0px;
    }
    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media (max-width: 32em) {
    .cbp-ntaccordion {
        font-size: 70%;
    }
}
/* AUTHOR LINK */


footer{
    z-index: 100;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    opacity: 0;
    font-family: 'Open Sans';
    width: 100%;
    word-wrap: break-word;
    line-height: 25px;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    margin: 0;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
}

footer .authorWindow a{
    color: white;
    text-decoration: none;
}

footer p strong {
    color: rgba(255, 255, 255, 0.9);
}

.about-me-img {
    width: 120px;
    height: 120px;
    left: 10px;
    /* bottom: 30px; */
    position: relative;
    border-radius: 100px;
}


.about-me-img img {
}


.authorWindow{
    width: 600px;
    background: #75439a;
    padding: 22px 20px 22px 20px;
    border-radius: 5px;
    overflow: hidden;
}

.authorWindowWrapper{
    display: none;
    left: 110px;
    top: 0;
    padding-left: 25px;
    position: absolute;
}





.trans{
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
    .authorWindow{
        width: 210px;
    }

    .authorWindowWrapper{
        bottom: -170px;
        margin-bottom: 20px;
    }

    footer p{
        font-size: 14px;
    }
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none; }

.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; }
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #fd264f; }
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #fd264f; }
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1; }
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.tabs .tab-2 {
    width: 50%; }
.tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%; }
.tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0; }
.tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%; }
.tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%; }


@media(max-width: 786px) {

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}
